# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.envrc

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Mac_related
.DS_Store

poetry.lock
/Users/borja/Library/Caches/pypoetry/virtualenvs/
data/